/* nav css */
body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #fff8f3;
}
.text-orange-color {
  color: #fd6e0a;
}

/* all button design */
.btn-primary {
  background-color: #fd6e0a;
  /* width: 150px;
  height: 64px; */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-tittle {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 51px;
}

nav a {
  text-decoration: none;
}

/* Banner starts */

.banner {
  padding: 30px 30px 30px 200px;
  display: flex;
}

.banner-greeting {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
}
.banner-tittle {
  color: var(--Dark-01, #181818);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}

.profile-pic{
    width: 500px;
}
